header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}

header > * {
    background-color: inherit;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

span {
    background-color: white;
}

.nav-item {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    color: black;
    background-color: none;
    border-radius: 5px;
}

.selected {
    background-color: #0E103D;
    color: white;
}

img {
    width: 100px;
    height: 100px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

b {
    background-color: inherit;
}