.body {
    width: 60%;
    background-color: white;
    height: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    padding:10px;
}

.body > *, .body > span {
    background-color: white;
    margin: 5px;
}

.image {
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.span{
    background-color: white;
}
.button {
    border: none;
    background-color: #0E103D;
    color: white;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 15px;

}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content > div {
    background-color: inherit;
}

.name_descrpiption {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: inherit;
}

.stock_price {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: inherit;
}