.card {
    width: 300px;
    min-width: 300px;
    height: 300px;
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: -4px 4px 8px 5px rgba(0, 0, 0, 0.3);
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 30px;
}

.span, .h3 {
    background-color: inherit;
}

.card > img {
    max-height: 100px;
    min-height: 100px;
    border-radius: 4px;
}

.card > * {
    margin: 10px;
}

.card > button {
    background-color: #0E103D;
    width: 80%;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.card > h3 {
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
}