* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 1100px;
}

.header > * {
    background-color: inherit;
}

.nav {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.span {
    background-color: white;
}

.nav > a {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    border-radius: 1px;
}


.b {
    background-color: white;
}

.img {
    width: 100px;
    height: 100px;
}

.a {
    text-decoration: none;
    background-color: inherit;
    color: black;
}
.a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.b {
    background-color: white;
}

.button {
    border: none;
    width: 80px;
    height: 40px;
    background-color: #0E103D;
}

.button > span {
    background-color: inherit;
    color: white;
}

.button:hover {
    cursor: pointer;
}

.selected {
    background-color: #0E103D;
    color: white;
}
.selected:hover {
    text-decoration: none;
    cursor: default !important;
}


.input {
    border: none;
    width: 230px;
    height: 38px;
    text-indent: 10px;
    font-size: 14px;
    background-color: rgb(235, 235, 235);
}


